
/* Header part */
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header{
  padding: 40px 0 13px;
}

.navbar {
  display:  flex;
  align-items: center;
  gap: 40px;
}

.navbar>a {
font-weight: 400;
font-size: 16px;
line-height: 28px;
letter-spacing: 0%;
color: black;
transition: all 0.4s;
}
.navbar>a:hover{
  color: rgba(255, 138, 86, 1);
}

.navbar>a:last-child{
  display: flex;
  align-items: center;
  gap: 10px;
}